<h1>Adventurer Classes</h1>
<h2><%=@adventurer_class.name%></h2>
<p><%=@adventurer_class.description%></p>

<h3>Class Spells:</h3>
	<ul>
		<% @class_spells.each do |spell|%>
			<li> <%= link_to spell.name, spell %> </li>
		<% end %>
	</ul>
	<%= paginate @class_spells%>